body {
  min-height: 100%;
}

@font-face {
  font-family: "Bebas";
  src: url("Fonts/BebasKai.ttf");
}

body {
  font-family: "Bebas";
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  text-align: center;
}

p {
  font-family: "Bebas";
  color: white;
  font-size: calc(12pt + 10vw);
  padding: 10px;
}

.splash_header {
  font-family: "Bebas";
  color: white;
  font-size: clamp(30px, 4vw, 75px);
  padding-bottom: 20px;
  padding-right: 10px;
  text-decoration: bold;
  align-items: center;
  justify-content: center;
}

.splash_contents {
  align-items: center;
  justify-content: center;
  font-family: "Bebas";
  font-size: 24px;
  width: auto;
  height: auto;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main_image {
  size: clamp(100px, 8vw, 1200px);
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.subtitle {
  font-size: clamp(20px, 4vw, 30px);
  color: rgb(143, 143, 143);
  align-items: center;
  justify-content: center;
  font-family: "Bebas";
  padding: 50px;
  margin: 0;
  display: flex;
}

.canvas {
  display: flex;
  overflow: hidden;

  top: 0;
  left: 0;
  width: 500%;
  height: 500%;
}



.enter_button {
  display: inline-block;
  font-family: "Bebas";
  background-color: WHITE;
  border-radius: 45px;
  border: 0px;
  color: #000000;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 80px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  cursor: pointer;
  margin: 5px;
  text-decoration: none;
}

.enter_button:hover {
  background-color: rgb(152, 152, 152);
  text-decoration: none;
  scale: +110%;
}

.nav {
  display: inline-block;
  font-family: "Bebas";
  color: WHITE;
  border: 0px;
  text-align: center;
  font-size: 30px;
  padding: 10px;
  width: 120px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  cursor: pointer;
  margin: 5px;
  text-decoration: none;
}

.nav_home:hover {
  color: rgb(152, 152, 152);
  text-decoration: none;
}

.topnav {
  justify-content: left;
  
}